.footer {
    background-color: #222;
    color: #FFF;
    padding: 3em;
    text-align: center;
}

.social_l {
    display: flex;
    justify-content: center;
    list-style: none;
}

.social_l li {
    margin: 0 1em;
}

.social_l li:hover {
    color: #FFBB33;
}

.social_l svg {
    font-size: 1.5em;
    cursor: pointer;
}

.copy {
    margin-top: 2em;
}

.copy span {
    font-weight: bold;
    color:#ffbb33
}